@media(min-width:301px) and (max-width:2000px) {
    .div-body{
        background: #ffffff;
        
        border-radius: 5px;
        width: 1656px;
        height: 1000px;
        }
        .div-link{
            width: 300px;
            height: 50px;
            border-radius: 50px;
            background-color: #e8e5e480;
            margin: auto;
            margin-top: 50px;
            position: fixed;
            top: 5px;
            left: 700px;
            }  

            .head{
                width: 800px;
                height: 100px;
                margin-left: 600px;
                margin-top: 250px;
                
                }
                
                .d-img{
                    width: 350px;
                    height: 350px;
                margin-top: 50px;
                margin-left: 650px;
                border-radius: 10px;
                
                }
                .about{
                    margin-left: 790px;
                    margin-top: 100px;
                }
                .d-p{
                width: 300px;
                height: 300px;
                margin-left:680px;
                font-size: 20px;
                text-align: center;
                }
                
                .experience{
                    margin-left: 780px;
                    margin-top: -150px;
                
                }
                .pp{
                width: 150px;
                height: 50px;
                text-align: center;
                margin-top: -150px;
                margin-left: 650px;
                color: #7f7f7f;
                }
                .btn{
                 margin-left: 690px;
                 margin-top: 5px;
                }
                .g{
                    text-align: center;
                    margin-left: -30px;
                    margin-top: -100px;
                    color: #7f7f7f;
                }
                .btn1{
                    margin-left: 880px;
                    margin-top: 5px;
                   }
                   .d-p1{
                    width: 300px;
                    height: 300px;
                    margin-left:680px;
                    font-size: 20px;
                    text-align: center;
                    }
                    
                    .experience1{
                        margin-left: 800px;
                        margin-top: 150px;
                    
                    }
                    .link{
                        text-decoration: none;
                        color: #000000;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        text-align: center;
                        display: inline-flex;
                        justify-content: center;
                        padding: 10px;
                        border-radius: 20px;
                        margin-left: 15px;
                        margin-top: 5px;
                         }  
                    a:link:hover{background-color: #ffffff;}
              .div-head{
        
                width: 1000px;
                height: 200px;
                padding: 10px;
                margin: auto;
                font-size: 14px;
                margin-top: 100px;
                margin-left: 500px;
                margin-bottom: 150px;
              }
        
              h1{
                margin:auto;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
               font-size: 60px;
               
              }
              .div-button{
                width: 400px;
                height: 50px;
                margin: auto;
                border-radius: 50px;
                    margin-bottom: 50px;
                
              }
              button{
                margin-top: 15px;
                margin-left: 20px;
                justify-content: space-between;
                background-color: #e8e5e480;
                border-radius: 50px;
                border: none;
                padding: 5px;
              }
              .span{
                margin-left: 50px;
              }
              .h{margin: auto;}
        
              .img1{border-radius: 10px;
         
                width: 500px;
                height: 500px;
            margin: auto;
            margin-left: 300px;
            margin-top: 20px;
            
              }
              .footer-1{
                margin-top:-20px;
                margin-left: 1100px;
            }
            
        .img2{border-radius: 10px;
         
            width: 500px;
            height: 500px;
        margin: auto;
        margin-left: 30px;
        margin-top: 20px;}
        h4{
            display: none;
        }
        video{border-radius: 10px;
         
            width: 300px;
            height: 200px;
        margin-left: 100px;}
        
        .div-footer{
            background: #ffffff;
            
            border-radius: 5px;
            width: 400px;
            height: 100px;
           margin-left: 650px;
           margin-top: 150px;
        }
        
        .div-p{
            width: 400px;
            height: 200px;
            margin-top: 400px;
            margin-left: 670px;
        }
        h2{
            font-size: 40px;
        }
        h3{
            margin-top: 100px;
            margin-left: 200px;
        }
        .footer{
            margin-top: 30px;
            margin-left: 1200px;
            display: inline;
            position: relative;
            top:-50px;}
            
                
                }  
            




@media (max-width:300px) {

    .div-body{
        background: #ffffff;
        
        border-radius: 5px;
        width: 400px;
        height: 1000px;
        }
        
        .div-link{
        width: 300px;
        height: 50px;
        border-radius: 50px;
        background-color: #e8e5e480;
        margin: auto;
        margin-left: 100px;
        position: fixed;
        top: 10px;
        }
        
        
        
        
        .span{

            margin-left: 20px;
        }
    
      .link{
     text-decoration: none;
     color: #000000;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     display: inline-flex;
     justify-content: center;
     padding: 10px;
     
     border-radius: 20px;
     margin-left: 15px;
     margin-top: 5px;
      }  
      a:link:hover{background-color: #ffffff;}
      .div-head{
        width: 350px;
        height: 200px;
        padding: 10px;
        margin: auto;
       
        margin-top: 100px;
        margin-left: 70px;
      }
      h1{
        margin:auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 30px;
      
       
      }
      .h{margin: auto;}

      .img1{border-radius: 10px;
 
    width: 350px;
    height: 200px;
margin: auto;
margin-left: 80px;}

.img2{border-radius: 10px;
 
    width: 350px;
    height: 200px;
margin: auto;
margin-left: 80px;}


h4{
    margin-left: 80px;
}

.div-footer{
    background: #ffffff;
    
    border-radius: 5px;
    width: 400px;
    height: 100px;
   margin-left: 130px;
   margin-top: 100px;
}
h2{
    font-size: 30px;
}
h3{
    width: 200px;
    margin-left: 170px;
    margin-bottom: 60px;
    
}
.footer{
    margin-top: 100px;
    margin-left: 100px;

}

.footer-1{
    margin-top: 40px;
    margin-left: 110px;
    width: 300px;
   
}
.div-button{
    display: none;
}

.div-p{
    width: 400px;
    height: 200px;
    margin-top: 150px;
    margin-left: 120px;
}
.head{
width: 300px;
height: 50px;
margin-left: 90px;
margin-top: 150px;

}

.d-img{
    width: 350px;
    height: 350px;
margin-top: 50px;
margin-left: 25px;
border-radius: 10px;

}
.about{
    margin-left: 170px;
    margin-top: 100px;
    border-radius: 10px;
    background-color:#e8e5e480 ;
    border-color: white;
}
.d-p{
width: 300px;
height: 300px;
margin-left:50px;
font-size: 20px;
text-align: center;
}

.experience{
    margin-left: 170px;
    margin-top: -150px;
    border-radius: 10px;
    background-color:#e8e5e480 ;
    border-color: white;
}
.pp{
width: 150px;
height: 50px;
text-align: center;
margin-top: -150px;
margin-left: 50px;
color: #7f7f7f;
}
.btn{
 margin-left: 90px;
 margin-top: 5px;
 border-radius: 10px;
    background-color:#e8e5e480 ;
    border-color: white;
}
.g{
    text-align: center;
    margin-left: 200px;
    margin-top: -100px;
    color: #7f7f7f;
}
.btn1{
    margin-left: 230px;
    margin-top: 5px;
    border-radius: 10px;
    background-color:#e8e5e480 ;
    border-color: white;
   }
   .d-p1{
    width: 300px;
    height: 300px;
    margin-left:50px;
    font-size: 20px;
    text-align: center;
    }
    
    .experience1{
        margin-left: 170px;
        margin-top: 150px;
        border-radius: 10px;
        background-color:#e8e5e480 ;
        border-color: white;
    }
}
